<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="centered" style="font-size: 65px;">
        <h1>Techincal Error!!</h1>
        <p>Sorry for incovenience</p>
    </div>

<%- include('includes/end.ejs') %>