body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 650;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #248043;
}
.main-header_nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header_item-list {
  margin: 0 1.5rem;
  padding: 0;
  list-style: none;
  display: flex;
}
.main-header_item {
  margin: 0 1rem;
  padding: 0;
  font-size: 1.2rem;
}
.main-header_item a {
  text-decoration: none;
  color: white;
}
.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
  color: #e63a34;
}
main {
  padding: 1rem;
}
