.product-form{
    margin: 1rem 0;
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control input,
.form-control label {
    display: block;
}
.form-control input{
    border: 1px solid black;
    font: inherit;
    border-radius: 2px;
}
button{
    color: #5903c9;
    font: inherit;
    border: 1px solid #5903c9;
    border-radius: 3px;
    cursor: pointer;
    background: white;
}
button:hover,
button:active{
    background: #5903c9;
    color: white;
}