.grid {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    font-size: 0.7rem;
}
.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 10px;
    width: auto;
}
img{
    max-width: 100%;
    height: auto;
}